<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.6.0" targetFramework="net452" />
  <package id="GitVersionTask" version="3.1.2" targetFramework="net452" developmentDependency="true" />
  <package id="NEST" version="1.6.0" targetFramework="net452" />
  <package id="Nest.Queryify" version="0.5.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
</packages>